{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="h1 mb3">Modifier mon image</h1>

    {% include 'admin/image/_form.html.twig' %}
{% endblock %}
