{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h1 class="h4 t-center">Biographie</h1>
            </div>

            <div class="justify-content-between align-item-center">
                <div class="justify-content-center my3 w50">
                    <img src="img/bob_marley.jpg" alt="" width="300" height="450">
                </div>

                <div class="card-body w50">
                    <p>
                        Vénéré et considéré comme le musicien le plus connu du reggae, Bob Marley est celui qui a permis au
                        mouvement
                        rastafari de se faire connaître au niveau mondial. Il vendra plus de 200 millions de disques à
                        travers le monde
                        et son aura perdure.
                    </p>

                    <p class="mt2">
                        Né Robert Nesta Marley le 6 février 1945 à Nine Miles en Jamaïque, il chante dès son plus jeune âge
                        des succès
                        soul et prend des cours de chant. Ses titres ska n’ont pas de succès mais il continue de chanter.
                        Après une
                        période rocksteady, il se lance dans le reggae.
                    </p>

                    <p>
                        Ce n’est qu’en 1973 que Bob Marley commence à rencontrer le succès. Entre-temps, il connaît la
                        misère, travaille
                        dans des usines et n’a pas une vie facile.
                    </p>
                    <p>
                        Ce qui a fait le succès de ses chansons, outre la qualité de la musique, c’est aussi ce que Bob
                        Marley y
                        raconte. Sa musique a touché tous les publics et a participé à l’affirmation et à la valorisation
                        d’une identité
                        Noire. Il reste un symbole d’émancipation et de liberté. Il est devenu une icône de la contestation
                        pacifique et
                        de la légitime défense. Les messages qu’il délivre sont spirituels et culturels, avec des valeurs
                        issues de la
                        culture rastafari. Bob Marley, héros d’un monde, porte-parole des plus pauvres, est reconnu pour
                        incarner
                        l’esprit rebelle des peuples les plus opprimés.
                    </p>
                </div>
            </div>

            <div class="card-body">
                <p>
                    Sa vie et sa musique sont indissociables. L’héritage qu’il a laissé, au delà de ses disques, est quasi
                    mystique
                    pour certains. Il a révolutionné le monde à sa façon et encore aujourd’hui nombre d’artistes s’inspirent
                    de ses
                    valeurs.
                </p>
                <p>
                    Bob Marley est décédé le 11 mai 1981 à Miami, aux Etats-Unis. Il est enterré le 21 mai à St Ann, en
                    Jamaïque.
                    Ses funérailles nationales à Kingston attirent des milliers de personnes.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
