{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <h1 class="h1 t-center">Vidéo de Bob Marley</h1>

    <div class="video">
        {% for video in videos %}
            <div class="video_content">
                <iframe width="560" height="315" src="{{ video.video }}"
                        title="{{ video.name }}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        sandbox
                >
                </iframe>
            </div>
        {% endfor %}
    </div>
{% endblock %}

