{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="h1 mb3">Créer une video</h1>

    {% include 'admin/video/_form.html.twig' %}
{% endblock %}
