.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal-image {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.show{
  display: initial;
}

.modal-content {
  width: 45%;
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content-image {
  width: 45%;
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-image img{
  width: 90%;
  height: auto;
  padding: 32px;
  border-radius: 24px;
}

.close {
  color: white;
  font-size: 2em;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}