 .text-justify {
   text-align: justify;
 }

 .w75 {
   width: 75%;
 }

 .w50 {
   width: 50%;
 }

 .w45 {
   width: 45%;
 }

 .w25 {
   width: 25%;
 }

 .w20 {
   width: 20%;
 }

 .text-primary {
   color: var(--primary);
 }
 .text-danger {
   color: var(--danger);
 }
 .text-success{
   color: var(--success);
 }
 .text-warning {
   color: var(--warning);
 }