%card, .card{
    width: auto;
    margin: 16px 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:1px 3px 9px rgba(0, 0, 0, .1);
}

.card-img {
    img {
        width: 100%;
        border-radius: 5px;
    }
}

.card-body{
    padding: 24px;

    .card-title {
        font-weight: 550;
        line-height: 1.2;
        font-size: 24px;
        margin: 8px 0;
    }

    i {
        width: 50px;
        height: 50px;
    }

    p {
        //padding: 15px 10px;
    }
}

.card-admin {
    width: auto;
    padding: 16px;
    margin: 16px 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:1px 3px 9px rgba(0, 0, 0, .1);

    .card-body-admin {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;

        i {
            width: 50px;
            height: 50px;
        }

        .card-title {
            font-weight: 550;
            line-height: 1.2;
            font-size: 24px;
            margin-bottom: 8px;
        }

        p {
            font-size: 25px;
        }
    }
}


.card-footer {
    display: flex;
    align-items: center;
    padding: 16px;
}