.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: end;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}

.align-item-center {
  align-items: center;
}