.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  li {
    background-color: var(--primary);
    padding: 8px;
    margin: 4px;
    border-radius: 5px;

    a {
      color: #FFFFFF;
    }

    span {
      color: #FFFFFF;
    }
  }

  .is-active {
    background-color: var(--background-pagination);
    color: var(--black);
    padding: 8px;
    margin: 4px;
    border-radius: 5px;
  }
}