.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  li {
    background-color: var(--primary);
    padding: 8px;
    margin: 4px;
    border-radius: 5px;

    a {
      color: #FFFFFF;
    }

    span {
      color: #FFFFFF;
    }
  }
}

// Pagination suiv / prec
// =============
.pagination-nav {
  display: flex;
  text-transform: uppercase;
}
.pagination-nav a + a {
  position: relative;
  padding-left: 16px;
}