// timeline variables
$timeline-body-round: 5px;
$timeline-body-shadow: 1px 3px 9px rgba(0, 0, 0, .1);

// page container
.container-timeline {
  max-width: 750px;
  margin: 50px auto;
}

// timeline style
.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: var(--border);
  }

  .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;

    .timeline-icon {
      position: absolute;
      left: -82px;
      top: 4px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      font-size: 2rem;
      background: var(--primary);

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .timeline-content {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      background: #FFFFFF;
      border-radius: $timeline-body-round;
      padding: 25px;
      box-shadow: $timeline-body-shadow;
      transition: .3s;

      &:before {
        content: '';
        background: inherit;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -10px;
        transform: rotate(45deg);
        border-radius: 0 0 0 2px;
      }

      .timeline-img {
        z-index: 0;

        &:hover {
          display: block;

          .iconPlayTimeline {
            display: block;
          }
        }
      }

      .iconPlayTimeline {
        display: none;
        position: absolute;
        width: 45px;
        height: 45px;
        left: 125px;
        bottom: 125px;
        z-index: 2;
        color: var(--primary);
        cursor: pointer;
      }

      .timeline-body {
        width: 50%;
        margin-left: 25px;
        color: var(--black);

        .timeline-title {
          margin-bottom: 1.4rem;
        }

        p {
          margin-top: 5px;
        }
      }
    }
  }
}