{% macro catchAFire() %}
    <div id="modalecatchAFire" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/39kLAVdcgW7jbMcTEaY2qy?utm_source=generator"
                    width="100%" height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
            </iframe>
        </div>
    </div>
{% endmacro %}

{% macro burnin() %}
    <div id="modaleburnin" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe src="https://open.spotify.com/embed/album/5EZMcYc3xK0rlru83kHpUe?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
{% endmacro %}

{% macro nattyFread() %}
    <div id="modalenattyFread" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe src="https://open.spotify.com/embed/album/1d8lF3nZpEIFeEbWmAt9Ey?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
{% endmacro %}

{% macro rastamanVibration() %}
    <div id="modalerastamanVibration" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe src="https://open.spotify.com/embed/album/6Gdf5vvFmoEwcsEV61tXiT?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
{% endmacro %}

{% macro exodus() %}
    <div id="modaleexodus" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe src="https://open.spotify.com/embed/album/1vHvJVBK0WnpbYFw4f4UTD?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
{% endmacro %}

{% macro kaya() %}
    <div id="modalekaya" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe src="https://open.spotify.com/embed/album/13dXX35pYjr8FqRla40K2a?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
{% endmacro %}

{% macro survival() %}
    <div id="modalesurvival" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe src="https://open.spotify.com/embed/album/09Df7mUZBQwbDYgvE0t30r?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
{% endmacro %}

{% macro uprising() %}
    <div id="modaleuprising" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <iframe src="https://open.spotify.com/embed/album/321q9p7PELvzcFAWxml7VX?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
{% endmacro %}